.container {
  padding-top: 20px;
}

.label-style {
  text-align: right;
  /* border: 1px solid #f0f; */
}

label {
  font-weight: normal;
}

.input-style {
  text-align: left;
  /* border: 1px solid #00f; */
}

.button-row  {
  text-align: right;
}

.well {
 display: none;
 box-shadow: 6px 6px 20px rgba(115, 115, 115, 0.5);
}

.strong {
  font-weight: bold;
}
